<div id="logon-box">
  <div class="logon-box-padder">
    <div id="logon-tabs">
      <ul>
        <li><%= link_to "Sign up", sign_up_path %> </li>
        <li><%= link_to 'Help', '/documents/help.pdf'  %></li>
      </ul>
    </div>
    <div class="clear"><!-- --></div>
    <div id="logon-main">
      <div id="logo_holder">
        <%= render :partial=>'/shared/logo' %>
      </div>
      <div id="form-holder">
        <%= form_tag sessions_path do %>
      <p>
        <%= label_tag :email, 'Login:' %>
        <%= text_field_tag :email, params[:email] %>
      </p>
        <p>
          <%= label_tag :password, 'Client password:' %>
          <%= password_field_tag :password %>
        </p>
        <div>
          <%= submit_tag "Log in", :class => 'button login' %>
        </div>
        <% end %>
      </div>
      <div class="clear"><!-- --></div>
    </div>
  </div>

</div>