<%= form_for @hotlink do |f| %>
  <%= f.error_messages %>
  <p>
     <%= f.hidden_field :asset_id %>
  </p>
  
  <p>
    <%= f.label :link, 'Name: ' %><br />
    <%= f.text_field :link %>
  </p>
  <p>
    <%= f.label :days, 'Expires in days: ' %><br />
    <%= f.text_field :days %>
  </p>
  <p>
    <%= f.label :password, 'Password: ' %><br />
    <%= f.text_field :password %>
  </p>
  <div class="actions">
    <%= f.submit :class => 'button createLink' %>
  </div>
<% end %>