#hotlinkError
  %p
    Please correct the following errors

= form_for @hotlink do |f|
  = f.error_messages
  .field
    = f.hidden_field :asset_id
  
  .field
    = f.label :link, 'Name: '
    = f.text_field :link
  .field
    = f.label :days, 'Expires in (days)'
    = f.text_field :days, :size => 3 
  .field
    = f.label :password, 'Password: '
    = f.text_field :password
    
  .actions
    = f.submit :class => 'button createLink'