<%= form_for @folder do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p> 
  
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description, :rows => 3 %>
  </p> 
  
  <p>   <%= f.hidden_field :parent_id %>  </p>
  <p><%= f.submit %></p>
<% end %>
