
<div id="search-bar">
    <%= form_tag '/search' do %>
    <p>
      <%= label :search, :query, 'Search:' %>
      <%= text_field :search, :query %>
      <%= check_box :search, :case %>
      <%= label :search, :case, 'Match case' %>
       <%= check_box :search, :notes %>
      <%= label :search, :notes, 'Notes' %>
    
  <%= submit_tag 'Search' %></p>
<% end %>

<%= render :partial => "breadcrumbs" %> 
</div>

<div id="headers">
  <div class="mark-it"><%= check_box :mark, :it %></div>
  <div class="name">Name</div>
  <div class="ext">Ext</div>
  <div class="size">Size</div>
  <div class="description">Description</div>
  <div class="date">Date</div>
</div>
<div id="file-container">
    <% if @current_folder or @search_query %>
      <div class="mark-it"> &nbsp;</div>
      <div class="name">
              
        <% if @search_query or @current_folder.parent_id.nil? %>
          <%= link_to '[..]', root_path %>
        <% else %>
          <%= link_to '[..]', browse_path(@current_folder.parent) %>
        <% end %>
      </div>
      <div class="ext">&nbsp;</div>
      <div class="size">    &lt;DIR&gt;                        </div>
      <div class="clear"><!-- --></div>
    <% end %>
<!-- folders -->
<% for folder in @folders %>
    <div class="row-container">
      <div class="mark-it"> <%= check_box :folder, folder.id, :class=>'folderTick' %></div>
        <% if @search_query %>
            <div class="name">  <%= link_to h(folder.breadcrumbs), browse_path(folder) %></div>
        <% else %>
            <div class="name">  <%= link_to h(folder.name), browse_path(folder) %></div>
        <% end %>
      <div class="ext">&nbsp;</div>
      <div class="size">    &lt;DIR&gt;                        </div>
      <div class="description"><%= h folder.description %>       </div>
      <div class="date">    <%= h folder.created_at.strftime("%d/%m/%Y %H:%M:%S") %>           </div>
      <div class="clear"><!-- --></div> 
    </div>
<% end %>    
<!-- files -->
<% for asset in @assets %>
    <div class="row-container">
      <div class="mark-it"> <%= check_box :file, asset.id, :class=>'fileTick' %></div>
      <div class="name">    <%= link_to h(asset.uploaded_file_file_name), download_url(asset) %></div>
      <div class="ext">    &nbsp; <%= h asset.file_extension%></div>
      <div class="size">    <%= number_to_human_size(asset.uploaded_file_file_size, :precision => 3)  %></div>
      <div class="description"><%= h asset.description %>&nbsp;       </div>
      <div class="date">    <%= h asset.created_at.strftime("%d/%m/%Y %H:%M:%S") %>           </div>
      <div class="clear"><!-- --> </div> 
    </div>
<% end %>

 
</div>

<div id="bottom-bar">
  <div id="bottom-bar-padder">
          <%= link_to '#', :id=>'download-link' do %>
              <span class='icon-link'> <%= image_tag('/images/icons/download.png') %><br/> Download </span>
          <% end %>
    <% if @current_folder%>
          <%= link_to new_sub_file_path(@current_folder), :id=>'upload-link' do %>
              <span class='icon-link'> <%= image_tag('/images/icons/upload.png') %><br/> Upload </span>
          <% end %>

          <%= link_to new_sub_folder_path(@current_folder), :id=>'new-folder-link' do %>
              <span class='icon-link'> <%= image_tag('/images/icons/newFolder.png') %><br/> New folder </span>
          <% end %>
    <% else %>
          <%= link_to new_asset_path, :id=>'upload-link' do %>
              <span class='icon-link'> <%= image_tag('/images/icons/upload.png') %><br/> Upload </span>
          <% end %>

          <%= link_to new_folder_path, :id=>'new-folder-link' do %>
              <span class='icon-link'> <%= image_tag('/images/icons/newFolder.png') %><br/> New Folder </span>
          <% end %>
    <% end %>
      
      <% if current_user.can_hotlink %>
          <%= link_to '#', :id=>'hotlink-link' do %>
              <span class='icon-link'> <%= image_tag('/images/icons/hotlink.png') %><br/> Hotlink </span>
          <% end %>
      <% end %>
          <%= link_to '#', :id=>'move-link' do %>
              <span class='icon-link'> <%= image_tag('/images/icons/move.png') %><br/> Move </span>
          <% end %>

          <%= link_to '#', :id=>'rename-link' do %>
              <span class='icon-link'> <%= image_tag('/images/icons/rename.png') %><br/> Rename </span>
          <% end %>


        <%= link_to @asset, :confirm => 'Are you sure?', :method => :delete, :id=>'delete-link' do %>
              <span class='icon-link'> <%= image_tag('/images/icons/delete.png') %><br/> Delete </span>
          <% end %>

          <%= link_to log_out_path, :id=>'download-link' do %>
              <span class='icon-link'> <%= image_tag('/images/icons/exit.png') %><br/> Exit </span>
          <% end %>

  </div>        
</div>

<div id="overlay">

</div>