<div id="top-menu">
  <ul id="actions-menu">
    <li>File</li>
    <li>Edit</li>
    <li>Tools</li>
    <li>Help</li>
  </ul>
  <div id="user-bar">
    <div id="user-bar-padder">
      Logged in as <%= current_user.email %> | 
        Space:
        x.xx MB
      </div>
        <div id="user-quota-bar">
          <div id="user-quota-used">
            <!-- -->
          </div> <!-- user-quota-used -->
        </div><!-- user-quota-bar -->
        x.xx MB
    </div> <!-- user-bar-padder -->
  </div> <!-- user-bar -->
<div> <!-- top-menu -->

<div class="clear"><!-- --></div>
<div id="search-bar">
    <%= form_tag '/search' do %>
    <p>
      <%= label :search, :query, 'Search:' %>
      <%= text_field :search, :query %>
      <%= check_box :search, :case %>
      <%= label :search, :case, 'Match case' %>
       <%= check_box :search, :notes %>
      <%= label :search, :notes, 'Notes' %>
    
  <%= submit_tag 'Search' %></p>
<% end %>

<%= render :partial => "breadcrumbs" %> 
</div>



<!-- folders -->

<h2>Sub folders </h2>
<% for folder in @folders %>
    <div class="file_name"><%= link_to folder.name, browse_path(folder) %></div>  
<% end %>    

<!-- files -->
  <h2>Files</h2>
  <% for asset in @assets %>
    <div class="file_name"><%= link_to asset.uploaded_file_file_name, download_url(asset) %> </div>  
  <% end %>

<% if @current_folder%>
<p>
  <%= link_to "Upload", new_sub_file_path(@current_folder) %>  
<%= link_to "New Folder", new_sub_folder_path(@current_folder) %>
</p>
<% else %>
<p>  <%= link_to "Upload", new_asset_path %>
<%= link_to "New Folder", new_folder_path %></p>
<% end %>
