<%= form_for @group do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <div class="actions">
    <%= f.submit 'Save', :class => 'button save' %>
    <%= link_to "Back", groups_path, :class => 'button back' %>
  </div>
  <div class="clear"></div>
<% end %>
