#innerContent
  %h1 
    = current_user.name

  %h2 Details
  
  %p
    %strong First Name:
    = current_user.first_name
  %p
    %strong Surname:
    = current_user.last_name
  %p 
    %strong Company:
    = current_user.company
  %p
    %strong Email:
    = current_user.email
  
  
  %h2 Groups
  - if current_user.groups.empty?
    %p
      %em You don't belong to any groups
  -else
    %ul
      - for group in current_user.groups 
        %li
          =link_to group.name, group
        
  %h2 Folders
  %p You have access to the following folders:
  %ul
    - for folder in current_user.accessible_folders
      %li 
        =link_to folder.breadcrumbs, folder