<div id="sign-up-form">
  <div id="logo-holder">
   <%= render :partial=>'/shared/logo' %>
  </div>
  <div id="register-form-holder">
   <%= form_for @user do |f| %>
        <% if @user.errors.any? %>
        <div class="error_messages">
            <h2>Form is invalid</h2>
            <ul>
              <% for message in @user.errors.full_messages %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <p>
          <%= f.label :email %>
          <%= f.text_field :email %>
        </p>
        <p>
          <%= f.label :first_name %>
          <%= f.text_field :first_name %>
        </p>
        <p>
          <%= f.label :last_name %>
          <%= f.text_field :last_name %>
        </p>
        <p>
          <%= f.label :company %>
          <%= f.text_field :last_name %>
        </p>
        <p>
          <%= f.label :password %>
          <%= f.password_field :password %>
        </p>
        <p>
          <%= f.label :password_confirmation %>
          <%= f.password_field :password_confirmation %>
        </p>
        <div class="button">
          <%= f.submit %>
        </div>
      <% end %>
    </div>
    <div class="clear"><!-- --></div>
</div>
    <div class="clear"><!-- --></div>
