%h1 
  = @user.name  
%h2 Details
%p 
  Company:
  = @user.company
%p
  Email:
  = mail_to @user.email
%p
  Contact in Company:
  = @user.referrer

%h2 Permissions
- if current_user.is_admin  
  = form_for @user do |f|
    %p
      = f.label :active
      = f.check_box :active
      &nbsp; 
      = f.label :is_admin
      = f.check_box :is_admin
      &nbsp;
      = f.label :can_hotlink
      = f.check_box :can_hotlink
    .actions
      = f.submit 'Save changes', :class => 'button save'
- else
  %ul
    - if @user.active
      %li
        Active User
    - if @user.can_hotlink
      %li
        Can Hotlink:
      
.clear
  
%h2 Groups
- if @user.groups.empty?
  %p
    %em User belongs to no groups
    -else
  %ul
    - for group in @user.groups 
      %li
        = link_to group.name, group
      
%h2 Folders      
%ul
  - for folder in @user.accessible_folders
    %li 
      =link_to folder.breadcrumbs, folder
.actions
  = button_to "Delete User", @user, :confirm => 'Are you sure?', :method => :delete, :class => 'button delete'
.clear