%h1 
  New Permission for 
  = @permission.folder.name

= form_for @permission, :url=>folder_permissions_path(@permission.folder) do |f|
  %p 
    = f.label :parent, 'Grant to'
    = f.select :parent, ''
  
  %p 
    = f.label :read_perms, 'Read'
    = f.check_box :read_perms
  %p 
    = f.label :write_perms, 'Write'
    = f.check_box :write_perms
  %p 
    = f.label :delete_perms, 'Delete'
    = f.check_box :delete_perms
  %p
    = f.submit 'Save changes' 