<h2 class="details icon">File Details</h2>


<%= form_for @asset do |f| %>

  <div class="field">
    <strong><%= f.label :uploaded_file_file_name, 'Name' %></strong>
    <%= f.text_field :uploaded_file_file_name %>
  </div>
  <p class="field">Created by: <%= @asset.user.first_name %> <%= @asset.user.last_name %> </p>
  <div class="field">
    <strong><%= f.label :description %></strong>
    <%= f.text_area :description, :rows => 4 %>
  </div>
  <div class="field">
    <strong><%= f.label :notes %></strong>
    <%= f.text_area :notes, :rows => 4 %>
  </div>

<% if @asset.folder %>
  <strong>Permissions:</strong>
  <%= render (:partial => "folderPermissions", :object => @asset.folder) %>
<% end %>

<div class="actions">
  <%= link_to "Download", download_path(@asset), :class => 'button download' %>
  <% if current_user.can_hotlink %>
    <%= link_to "Hotlink", new_hotlink_path(@asset), :class => 'button createLink' %>
  <% end %>
  <%= f.submit 'Save', :class => 'button save' %>
</div>
<% end %>

