%h1 Log
- content_for :page_specific_head do
  = stylesheet_link_tag 'log'
  = javascript_include_tag 'jquery-1.6.1.min', 'jquery.colorbox-min', 'log', 'colorboxInit'
  
#log
  #search
    = form_for @search do |f|
      .field
        = f.label :usernamed, "User:"
        = f.text_field :usernamed
      .field
        = f.label :controller_contains, "Controller:"
        = f.select :controller_contains, options_for_select(@controllers.map{|c| c.controller}), {:include_blank => true }
      .field
        = f.label :action_contains,"Action:"
        = f.select :action_contains, options_for_select(@actions.map{|a| a.action}), {:include_blank => true}
      .field
        = f.label :created_at_greater_than,"Date From:"
        = f.datetime_select :created_at_greater_than, :include_blank => true, :order => [:day,:month,:year,:hour,:minute]
      .field
        = f.label :created_at_less_than,"Date To:"
        = f.datetime_select :created_at_less_than, :include_blank => true, :order => [:day,:month,:year,:hour,:minute]
      .actions
        = f.submit "Search", :class => 'button search'
        = link_to 'Clear All', '#', :id=> 'clear', :class => 'button delete'
  #headers
    %p.date Date/Time
    %p.user User
    %p.controller Controller
    %p.action Action
    %p.file_path File Path
    %p.more_info
  #result
    - @logs.each do |log|
      .row
        %p.date
          = log.created_at
        %p.user 
          - if log.user
            = link_to log.user.name, log.user, :title => log.user.email, :class=>"colorbox"
          - else
            = "-"
        %p.controller
          - if log.controller?
            = log.controller.capitalize
        %p.action
          - if log.action?
            = log.action.capitalize
        %p.file_path
          - if log.file_path
            = log.file_path
          - else
            &nbsp;
        %p.more_info
          = link_to "More Info...", log, :class=> "colorbox"
  .clear
  = will_paginate @logs