<!DOCTYPE html>
<html>
<head>
  <title>Railsbox</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag 'jquery-1.6.1.min', 'jquery.tools.min', 'application', 'home-page', 'main-page' %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div id="content-holder">
     <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
     <% end %>
    <%= yield %>
  </div>
  
</body>
</html>
